.hightLight {
   background-color: #eef9fd;
   border-left: 4px solid #4a6872;
   border-radius: 6px;
   padding: 24px;
}

.hightLight__info {
   color: #4a6872;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 18px;
}

.hightLight__minify {
   border-left: 3px solid #dadde1;
   border-radius: 4px;
   padding: 18px;
}