.list {
   display: flex;
   padding-top: 40px;

}

.list__wrap--heading {
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 24px;
}

.list_hide {
   flex: 1;
}

.list__wrap {
   width: 245px;
}

.list__wrap--item {
   margin-top: 16px;
   font-size: 14px;
   line-height: 2;
   font-size: 15px;
   word-spacing: 1px;

}