.extractContent {
   // width: 700px;
   padding-left: 32px;
   margin-bottom: 100px;
   width: 50vw;

}

// .extractContent__main {
// }

// .extractContent__sideBar {
//    flex: 1;
// }