:root {
   --success-color: #2691d9;
   --error-color: #e74c3c;
}

.body {
   height: 100vh;
   background: linear-gradient(to right, #873487, #128475);
   display: flex;
   justify-content: center;
   align-items: center;
}

.login__container {
   width: 400px;
   background-color: #fff;
   border-radius: 10px;
   padding: 20px;
}

.heading {
   text-align: center;
   margin-bottom: 30px;
   font-size: 45px;
}

.wrap__input {
   position: relative;
   width: 100%;
   margin-bottom: 30px;
}

.wrap__input.error {}

.wrap__input.success {}

.input {
   width: 100%;
   padding: 6px 0;
   outline: none;
   border: none;
   font-size: 20px;
   border-bottom: 2px solid #989898;
}

.input.success {
   border-bottom-color: var(--success-color);
}

.input.error {
   border-bottom-color: var(--error-color);
}

.input:focus~.bottom__color::before {
   width: 100%;
}

.bottom__color::before {
   content: '';
   display: block;
   width: 0px;
   height: 2px;
   /* border: 1px solid #2691d9; như này sẽ có 1 chấm nhỏ 1px */
   background: var(--success-color);
   transform: translateY(-2px);
   transition: 0.3s;
}

.Error {
   color: var(--error-color);
   font-size: 12px;
   position: absolute;

}

#login {
   width: 100%;
   height: 50px;
   background-color: var(--success-color);
   font-size: 22px;
   border-radius: 25px;
   text-align: center;
   border: none;
   outline: none;
   color: #fff;
   cursor: pointer;
   transition: 0.3s;
}

#login:hover {
   background-color: #13517a;
}

.login__footer {
   text-align: center;
   margin-top: 20px;
}

.footer span {
   color: var(--success-color);
   cursor: pointer;
}

.footer span:hover {
   text-decoration: underline;
}