.avatar {
   display: flex;
   align-items: center;

   .avatar__img {
      height: 100%;

      img {
         height: 100%;
      }
   }
}

.avatar__title {
   margin-left: 8px;
   font-weight: bolder;
   font-size: 17px;
}