:root {
   --color-grey: #d5d0d0;
}

.search {
   display: flex;
}

.search__text {
   display: flex;
   align-items: center;
}

.search__text--item {
   display: flex;

   &:hover {
      color: var(--primary-color);
      transition: 0.4s;
   }
}

.search__text--item span {
   font-size: 18px;
   align-self: center;
   cursor: pointer;

}

.search__text--item .icon {
   margin-right: 20px;
   margin-left: 4px;
   font-size: 24px;
   cursor: pointer;
}