.home {
   background-color: #fff;
   color: #000;
   overflow: hidden;
   // tai sao bo comment thi trinh duyet them 1 thanh scroll
}

.home.dark {
   background-color: #1b1b1d;
   color: white;
}